<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="<%= url("/peep_index.css")%>">
</head>

  <body>
  <%= flash[:notice] %>
  <% if @user %>
  <div class"welcome">
  <h1>Welcome, <%= @user.email %></h1>
  </div> 
  <% end %>


  <form action="/peeps/new" method="get">
    <input type="submit" value="Create a peep" />
  </form>

    <ul class="list-inline text-center" id="peeplist">
      <% @peeps.reverse.each do |peep| %>
        <li class="list-inline-item" id="peep-<%= peep.id %>">
         <%= peep.message %><br> 
         <%= (Time.parse(peep.created_at)).strftime("%H:%M | %m-%e-%y ")%><br>
         <%= peep.email(peep.user_id) %>
        </li>
      </div>
      <% end %>
    </ul>
  </body>

</html>